[submodule "x3"]
	path = x3
	url = git@github.com:evilnet/x3.git
	branch = master
[submodule "nefarious"]
	path = nefarious
	url = git@github.com:evilnet/nefarious2.git
	# IRCv3 work (websocket, draft/persistence, SASL_LOCAL) lives here, not master.
	branch = ircv3.2-upgrade
